h2{
    color: orange;
}
body{
    background-color: #293737; 
    color: white;
    font-family: arial;
    text-align: center;
    font-style: italic;
    }

    ul{
        list-style-position: inside;
    }